@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

/* Styles for ace-of-spades */

body,
.card,
.face {
  display: grid;
  place-content: center;
}

body {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  width: 100vw;
  height: 100vh;
  margin: 0;
  perspective: 1000px;
}

.card {
  width: 10rem;
  height: 14rem;
  position: relative;
  transform-style: preserve-3d;
  animation: flip 5s linear infinite;

  & .front,
  & .back {
    grid-area: 1 / 1;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;

    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 2rem hsla(0, 0%, 0%, 0.2);
  }

  & .front {
    display: grid;
    grid-template-rows: 2rem 1fr 2rem;
    animation: front-flip 5s linear infinite;
    transform: rotateZ(32deg);
  }

  & .back {
    transform: rotateZ(32deg) rotateY(180deg);
    border: 0.2rem solid darkred;

    background: linear-gradient(
        45deg,
        red 25.5%,
        transparent 25%,
        transparent 75%,
        red 75%
      ),
      linear-gradient(
        -45deg,
        red 25.5%,
        transparent 25%,
        transparent 75%,
        red 75%
      );

    background-size: 2rem 2rem;
    animation: back-flip 5s linear infinite;
  }

  & .index {
    font-size: 2rem;
    margin: 0 0.5rem;
    position: relative;
  }

  & .index.flipped {
    transform: rotate(180deg);
  }

  & .index::before {
    content: "♠";
    position: absolute;
    bottom: -2rem;
    left: 0;
  }

  & .face {
    font-size: 6rem;
  }
}

@keyframes flip {
  100% {
    transform: rotateY(360deg);
  }
}
