/* Styles for simon */
body {
  display: grid;
  place-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: hsla(0, 0%, 30%, 1);
}
#container {
  display: grid;
  place-content: center;
  width: 200px;
  height: 200px;
}
#center {
  width: 100px;
  height: 100px;
  /* background-color: black; */
  background: radial-gradient(
    circle at 50% 50%,
    hsla(0, 0%, 30%, 1) 0%,
    hsla(0, 0%, 10%, 1) 100%
  );
  margin: 50px;
  position: absolute;
  border-radius: 50%;
}
#center,
#simon {
  grid-area: 1/1;
}
#simon {
  display: grid;
  place-content: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 0.6rem;
  padding: 1rem;
  background-color: hsla(0, 0%, 20%, 1);
  border-radius: 50%;
  width: 200px;
  height: 200px;

  & div {
    background-color: blue;
    width: 100px;
    height: 100px;
    clip-path: path("M 0 0 L 100 0 A 100 100 0 0 1 0 100 Z");
    transition: filter 0.2s ease-in-out;
  }
  & div:hover,
  & .brighten {
    cursor: pointer;
    filter: brightness(1.5);
  }

  & #green {
    transform: rotate(0deg);
    background: radial-gradient(
      circle at 50% 50%,
      hsla(125, 100%, 35%, 1) 0%,
      hsla(125, 100%, 25%, 1) 100%
    );
  }
  & #red {
    transform: rotate(90deg);
    background: radial-gradient(
      circle at 50% 50%,
      hsla(0, 100%, 45%, 1) 0%,
      hsla(348, 83%, 35%, 0.8) 100%
    );
  }
  & #yellow {
    transform: rotate(180deg);
    background: radial-gradient(
      circle at 50% 50%,
      hsla(52, 100%, 50%, 1) 0%,
      hsla(52, 100%, 40%, 1) 100%
    );
  }
  & #blue {
    transform: rotate(270deg);
    background: radial-gradient(
      circle at 50% 50%,
      hsla(210, 100%, 50%, 1) 0%,
      hsla(210, 100%, 40%, 0.8) 100%
    );
  }
}
