/* Styles for tic-tac-toe */
body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: grid;
  place-content: center;
}

h1 {
  color: #333;
}

.game-container {
  border: 0.1rem solid orange;
  background: linear-gradient(#333, #999);
  padding: 1rem;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;

  & .cell {
    font-size: 2em;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
  }
}
