body {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  position: relative;
}

#red,
#blue {
  grid-area: 1/1;
}

#red {
  width: 100px;
  height: 100px;
  /* margin: -50px 0 0 -50px; */
  background-color: red;
}
#blue {
  width: 200px;
  height: 200px;
  /* margin: -100px 0 0 -100px; */
  background-color: blue;
  display: none;
  view-transition-name: xyz;
}

::view-transition-new(xyz) {
  animation: slide-in 0.5s ease-in-out forwards;
}
::view-transition-old(xyz) {
  animation: slide-out 0.5s ease-out forwards;
}

@keyframes slide-in {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slide-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}
