body {
  display: grid;
  place-content: center;
}

#grid,
#zoom {
  grid-area: 1/1;
}

#grid {
  display: grid;
  width: 500px;
  height: 500px;
  border: 1px solid red;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
}

#grid div:nth-child(1) {
  background-color: #ffd1dc;
}
#grid div:nth-child(2) {
  background-color: #c1f0f6;
}
#grid div:nth-child(3) {
  background-color: #ffe8a1;
}
#grid div:nth-child(4) {
  background-color: #c3fbd8;
}
#grid div:nth-child(5) {
  background-color: #eac8ff;
}
#grid div:nth-child(6) {
  background-color: #fbdcdc;
}

#zoom {
  display: none;
  width: 500px;
  height: 500px;
  background-color: orange;
  view-transition-name: zoom;
}

::view-transition-new(zoom) {
  animation: zoom-in 0.5s ease-in-out forwards;
}
::view-transition-old(zoom) {
  animation: zoom-out 0.5s ease-out forwards;
}

@keyframes zoom-in {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoom-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}
