/* Styles for marquee */
body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}
.marquee {
  display: grid;
  grid-template-rows: 50px 1fr, 50px;
  grid-template-columns: 50px 1fr 50px;
  width: 300px;

  border: 1px solid black;
}
.corner {
  width: 50px;
  height: 50px;
  background-color: red;
}
.corner.top-left {
  border-radius: 50%;
}

.lights-top,
.lights-bottom,
.lights-left,
.lights-right {
  display: flex;
  background-color: green;
}

.lights-left,
.lights-right {
  flex-direction: column;
}
.lights-bottom {
  flex-direction: row-reverse;
}
.lights-left {
  flex-direction: column-reverse;
}

.light {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.lights-top .light:nth-child(3n),
.lights-bottom .light:nth-child(3n),
.lights-left .light:nth-child(3n),
.lights-right .light:nth-child(3n) {
  animation: pulse 0.9s linear infinite;
}
.lights-top .light:nth-child(3n + 1),
.lights-bottom .light:nth-child(3n + 1),
.lights-left .light:nth-child(3n + 1),
.lights-right .light:nth-child(3n + 1) {
  animation: pulse 0.9s 0.3s linear infinite;
}
.lights-top .light:nth-child(3n + 2),
.lights-bottom .light:nth-child(3n + 2),
.lights-left .light:nth-child(3n + 2),
.lights-right .light:nth-child(3n + 2) {
  animation: pulse 0.9s 0.6s linear infinite;
}
@keyframes pulse {
  50% {
    background-color: hsl(210, 100%, 80%);
  }
  51% {
    background-color: transparent;
  }
}
