/* Styles for marquee */
body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #333;
}

h1 {
  color: #333;
}
.marquee {
  display: grid;
  grid-template-rows: 50px 1fr, 50px;
  grid-template-columns: 50px 1fr 50px;
  width: 550px;
  background-color: gray;
  border: 1px solid black;
}
.corner {
  width: 50px;
  height: 50px;
  background-color: #333;
}
.corner.top-left {
  clip-path: circle(100% at 0% 0%);
}
.corner.top-right {
  clip-path: circle(100% at 100% 0%);
}
.corner.bottom-left {
  clip-path: circle(100% at 0% 100%);
}
.corner.bottom-right {
  clip-path: circle(100% at 100% 100%);
}
.lights-top,
.lights-bottom,
.lights-left,
.lights-right {
  display: flex;
  background-color: gray;
}

.lights-left,
.lights-right {
  flex-direction: column;
}
.lights-bottom {
  flex-direction: row-reverse;
}
.lights-left {
  flex-direction: column-reverse;
}

.light {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.lights-top .light:nth-child(3n),
.lights-bottom .light:nth-child(3n),
.lights-left .light:nth-child(3n),
.lights-right .light:nth-child(3n) {
  animation: pulse 0.6s linear infinite;
}
.lights-top .light:nth-child(3n + 1),
.lights-bottom .light:nth-child(3n + 1),
.lights-left .light:nth-child(3n + 1),
.lights-right .light:nth-child(3n + 1) {
  animation: pulse 0.6s 0.2s linear infinite;
}
.lights-top .light:nth-child(3n + 2),
.lights-bottom .light:nth-child(3n + 2),
.lights-left .light:nth-child(3n + 2),
.lights-right .light:nth-child(3n + 2) {
  animation: pulse 0.6s 0.4s linear infinite;
}
@keyframes pulse {
  10%,
  33% {
    background-color: hsl(210, 100%, 80%);
  }
  0%,
  44% {
    background-color: transparent;
  }
}
